/* Styles for general appearance */
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}




/* Styles for: Page sections */
.section {
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 10px 10px #efefef;
    display: block;
}

.section-title {

}

.section-subtitle {
    
}



/* Styles for Welcome screen */
.welcome-section {
    margin-top: 62px;
}


