html, body .page {
    height: 100%;
}


/* Styles for: Page sections */
.section, .portfolio-section {
    height: 100%;
    background-color: antiquewhite;
}


/* Styles for: Portfolio section */
.portfolio-section {
    height: 400px;
}



