<Layouts::PageSection ...attributes>

    {{!-- Section header --}}
    <div class="section-title">My Portfolio</div>
    <div class="section-subtitle">My Project Highlights</div>


    {{!-- Section content --}}
    <div class="row mt-4">

        <div class="col align-middle">

          <div class="card-deck">

            <div class="card shadow">
              <div class="card-header bg-danger text-white">PyNetcal</div>
              <img class="card-img-top" src="img/portfolio-section/pynetcal.png" alt="Card image cap" style="max-width: 243; max-height: 200;">
              <div class="card-body">
                {{!-- <h5 class="card-title">PyNetcal</h5> --}}
                <p class="card-text">An IPv4, IPv6 Network calculator for subnetting and address manipulation.</p>
                
              </div>
              <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
            </div>
            <div class="card shadow">
              <div class="card-header bg-danger text-white">ColorEx Project</div>
              <img class="card-img-top" src="img/portfolio-section/colorex.png" alt="Card image cap" style="max-width: 243; max-height: 200;">
              <div class="card-body">
                {{!-- <h5 class="card-title">ColorEx Project</h5> --}}
                <p class="card-text">A Python library for creating fun and interactive heat maps.</p>
              </div>
              <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
            </div>
            <div class="card shadow">
              <div class="card-header bg-danger text-white">HolyGiver</div>
              <img class="card-img-top" src="img/portfolio-section/holygiver.png" alt="Card image cap" style="max-width: 243; max-height: 200;">
              <div class="card-body">
                {{!-- <h5 class="card-title">HolyGiver</h5> --}}
                <p class="card-text">A simple Tithe calculator for churches and ministries, supports 20+ currencies.</p>
              </div>
              <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div>
            </div>
            <div class="card shadow">
              <div class="card-header bg-danger text-white">Advisory: PNGHRI Website 2018</div>
              <img class="card-img-top" src="img/portfolio-section/pnghri.png" alt="Card image cap" style="max-width: 243; max-height: 200;">
              <div class="card-body">
                {{!-- <h5 class="card-title">Advisory: PNGHRI Website 2018</h5> --}}
                <p class="card-text">Played an advisory role in redesign + hosting of PNG Human Resource Institute website, developed by Mr. Ivan Umo.</p>
              </div>
              <div class="card-footer text-center"><button class="btn btn-danger" onclick="window.location.href='http://www.pnghri.org.pg'">See More</button></div>
            </div>

          </div>

        </div>

    </div>

</Layouts::PageSection>