<Layouts::PageSection ...attributes>

    {{!-- Section header --}}
    <div class="section-title">My Portfolio</div>
    <div class="section-subtitle">My Project Highlights</div>


    {{!-- Section content --}}
    <div class="row mt-4">

        <div class="col align-middle">

<div class="card-deck">
  <div class="card shadow">
    <img class="card-img-top" src="img/portfolio-section/pnghri.png" alt="Card image cap" style="max-width: 243; max-height: 200;">
    <div class="card-body">
      <h5 class="card-title">PNGHRI Website Redesign</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card shadow">
    <img class="card-img-top" src="img/portfolio-section/pynetcal.png" alt="Card image cap" style="max-width: 243; max-height: 200;">
    <div class="card-body">
      <h5 class="card-title">PyNetcal IP Network Calculator</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card shadow">
    <img class="card-img-top" src="img/portfolio-section/colorex.png" alt="Card image cap" style="max-width: 243; max-height: 200;">
    <div class="card-body">
      <h5 class="card-title">ColorEx Project</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card shadow">
    <img class="card-img-top" src="img/portfolio-section/holygiver.png" alt="Card image cap" style="max-width: 243; max-height: 200;">
    <div class="card-body">
      <h5 class="card-title">HolyGiver</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

        </div>

    </div>

</Layouts::PageSection>