<div id="home" hidden></div>
<Layouts::PageSection class="align-middle" ...attributes>
    <div class="title-exploded">
        Hi, I'm Louis.
    </div>
    <div class="subtitle-exploded">
        Software Developer | Coffee Fanatic | Voracious Reader | Part-time Pianist
        <br/>
        <button class="btn btn-secondary">Follow Me</button>
    </div>
</Layouts::PageSection>