{{!-- top navigation --}}
<Navs::TopNav />

{{!-- page sections from hereon --}}

<div class="container-fluid" style="height: 100%;">

    {{!-- Welcome section --}}
    <Sections::WelcomeSection id="welcome-section" class="welcome-section" />

    {{!-- About section --}}
    <Sections::AboutSection id="about-section" class="about-section" />

    {{!-- Portfolio section --}}
    <Sections::PortfolioSection id="portfolio-section" class="portfolio-section" />

</div>