{{!-- top navigation --}}
<Navs::TopNav />

{{!-- page sections from hereon --}}

<div class="container-fluid" style="height: 100%;">

    {{!-- Welcome section --}}
    <Sections::WelcomeSection class="welcome-section" />

    {{!-- About section --}}
    <Sections::AboutSection />

    {{!-- Portfolio section --}}
    <Sections::PortfolioSection />

</div>